name: Deploy Ucyenyen Portfolio
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            # 1. Masuk ke folder project (milik user bryan)
            cd /var/www/bryan/portfolio-bryanfd
            
            # 2. Tarik kode terbaru
            # Git tidak akan error karena kita sudah set 'safe.directory'
            git pull origin main
            
            # 3. Rebuild dan Restart Docker
            # Tidak perlu 'sudo' karena bryan sudah masuk grup docker
            docker compose up -d --build --remove-orphans
            
            # 4. Bersihkan image bekas agar storage VPS hemat
            docker image prune -f